USE [QLThuVien]
GO
/****** Object:  Table [dbo].[BANGCAP]    Script Date: 12/18/2019 6:33:01 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[BANGCAP](
	[MaBangCap] [int] IDENTITY(1,1) NOT NULL,
	[TenBangCap] [nvarchar](40) NULL,
 CONSTRAINT [PK_BANGCAP] PRIMARY KEY CLUSTERED 
(
	[MaBangCap] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[CHITIETPHIEUMUON]    Script Date: 12/18/2019 6:33:01 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[CHITIETPHIEUMUON](
	[MaSach] [int] NOT NULL,
	[MaPhieuMuon] [int] NOT NULL,
 CONSTRAINT [PK_CHITIETPHIEUMUON] PRIMARY KEY CLUSTERED 
(
	[MaSach] ASC,
	[MaPhieuMuon] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[DOCGIA]    Script Date: 12/18/2019 6:33:01 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[DOCGIA](
	[MaDocGia] [int] IDENTITY(1,1) NOT NULL,
	[HoTenDocGia] [nvarchar](40) NULL,
	[NgaySinh] [datetime] NULL,
	[DiaChi] [nvarchar](50) NULL,
	[Email] [nvarchar](30) NULL,
	[NgayLapThe] [datetime] NULL,
	[NgayHetHan] [datetime] NULL,
	[TienNo] [float] NULL,
 CONSTRAINT [PK_DOCGIA_1] PRIMARY KEY CLUSTERED 
(
	[MaDocGia] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[NHANVIEN]    Script Date: 12/18/2019 6:33:01 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[NHANVIEN](
	[MaNhanVien] [int] IDENTITY(1,1) NOT NULL,
	[HoTenNhanVien] [nvarchar](50) NULL,
	[NgaySinh] [datetime] NULL,
	[DiaChi] [nvarchar](50) NULL,
	[DienThoai] [nvarchar](15) NULL,
	[MaBangCap] [int] NULL,
 CONSTRAINT [PK_NHANVIEN] PRIMARY KEY CLUSTERED 
(
	[MaNhanVien] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[PHIEUMUONSACH]    Script Date: 12/18/2019 6:33:01 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[PHIEUMUONSACH](
	[MaPhieuMuon] [int] IDENTITY(1,1) NOT NULL,
	[NgayMuon] [datetime] NOT NULL,
	[MaDocGia] [int] NULL,
 CONSTRAINT [PK_PHIEUMUONSACH] PRIMARY KEY CLUSTERED 
(
	[MaPhieuMuon] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[PHIEUTHUTIEN]    Script Date: 12/18/2019 6:33:01 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[PHIEUTHUTIEN](
	[MaPhieuThuTien] [int] IDENTITY(1,1) NOT NULL,
	[SoTienNo] [float] NULL,
	[SoTienThu] [float] NULL,
	[MaDocGia] [int] NULL,
	[MaNhanVien] [int] NULL,
 CONSTRAINT [PK_PHIEUTHUTIEN] PRIMARY KEY CLUSTERED 
(
	[MaPhieuThuTien] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[SACH]    Script Date: 12/18/2019 6:33:01 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[SACH](
	[MaSach] [int] IDENTITY(1,1) NOT NULL,
	[TenSach] [nvarchar](40) NULL,
	[TacGia] [nvarchar](30) NULL,
	[NamXuatBan] [int] NULL,
	[NhaXuatBan] [nvarchar](40) NULL,
	[TriGia] [float] NULL,
	[NgayNhap] [datetime] NULL,
 CONSTRAINT [PK_SACH] PRIMARY KEY CLUSTERED 
(
	[MaSach] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[THAMSO]    Script Date: 12/18/2019 6:33:01 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[THAMSO](
	[TenThamSo] [nvarchar](40) NOT NULL,
	[GiaTri] [int] NULL,
 CONSTRAINT [PK_THAMSO] PRIMARY KEY CLUSTERED 
(
	[TenThamSo] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[BANGCAP] ON 

INSERT [dbo].[BANGCAP] ([MaBangCap], [TenBangCap]) VALUES (1, N'TIẾN SĨ')
INSERT [dbo].[BANGCAP] ([MaBangCap], [TenBangCap]) VALUES (2, N'THẠC SĨ')
INSERT [dbo].[BANGCAP] ([MaBangCap], [TenBangCap]) VALUES (3, N'ĐẠI HỌC')
SET IDENTITY_INSERT [dbo].[BANGCAP] OFF
SET IDENTITY_INSERT [dbo].[DOCGIA] ON 

INSERT [dbo].[DOCGIA] ([MaDocGia], [HoTenDocGia], [NgaySinh], [DiaChi], [Email], [NgayLapThe], [NgayHetHan], [TienNo]) VALUES (1, N'NGUYỄN HOÀNG MINH', CAST(N'1990-02-23T00:00:00.000' AS DateTime), N'41/4 CALMETTE Q1 TPHCM', N'hoangminh@yahoo.com', CAST(N'2000-12-30T00:00:00.000' AS DateTime), CAST(N'2012-12-30T00:00:00.000' AS DateTime), 0)
INSERT [dbo].[DOCGIA] ([MaDocGia], [HoTenDocGia], [NgaySinh], [DiaChi], [Email], [NgayLapThe], [NgayHetHan], [TienNo]) VALUES (2, N'TRẦN VĂN CHÂU', CAST(N'1992-08-29T00:00:00.000' AS DateTime), N'TRẦN HƯNG ĐẠO Q1 TPHCM', N'vanchau@yahoo.com', CAST(N'2001-11-22T00:00:00.000' AS DateTime), CAST(N'2013-11-22T00:00:00.000' AS DateTime), 0)
INSERT [dbo].[DOCGIA] ([MaDocGia], [HoTenDocGia], [NgaySinh], [DiaChi], [Email], [NgayLapThe], [NgayHetHan], [TienNo]) VALUES (3, N'NGUYỄN HOÀNG NAM', CAST(N'1980-02-21T00:00:00.000' AS DateTime), N'4 TRẦN ĐÌNH HƯNG Q1 TPHCM', N'hoangmNAM@yahoo.com', CAST(N'2001-12-22T00:00:00.000' AS DateTime), CAST(N'2012-12-30T00:00:00.000' AS DateTime), 150000)
SET IDENTITY_INSERT [dbo].[DOCGIA] OFF
SET IDENTITY_INSERT [dbo].[NHANVIEN] ON 

INSERT [dbo].[NHANVIEN] ([MaNhanVien], [HoTenNhanVien], [NgaySinh], [DiaChi], [DienThoai], [MaBangCap]) VALUES (1, N'PHẠM MINH VŨ', CAST(N'1980-01-24T00:00:00.000' AS DateTime), N'163/30 Thành Thái F.14 Q.10 TPHCM', N'0905646162', 1)
INSERT [dbo].[NHANVIEN] ([MaNhanVien], [HoTenNhanVien], [NgaySinh], [DiaChi], [DienThoai], [MaBangCap]) VALUES (2, N'NGUYỄN MINH THÀNH', CAST(N'1983-04-05T00:00:00.000' AS DateTime), N'41/4 CALMETTE Q1 TPHCM', N'0908373612', 2)
INSERT [dbo].[NHANVIEN] ([MaNhanVien], [HoTenNhanVien], [NgaySinh], [DiaChi], [DienThoai], [MaBangCap]) VALUES (3, N'NGUYỄN HÀ MY', CAST(N'1985-04-13T00:00:00.000' AS DateTime), N'178 NAM KỲ KHỞI NGHĨA Q4 TPHCM', N'0908783274', 3)
SET IDENTITY_INSERT [dbo].[NHANVIEN] OFF
SET IDENTITY_INSERT [dbo].[SACH] ON 

INSERT [dbo].[SACH] ([MaSach], [TenSach], [TacGia], [NamXuatBan], [NhaXuatBan], [TriGia], [NgayNhap]) VALUES (1, N'NHAP MON CNPM', N'PHẠM ĐÀO MINH VŨ', 2007, N'NXB THỐNG KÊ', 70000, CAST(N'2008-12-18T00:00:00.000' AS DateTime))
INSERT [dbo].[SACH] ([MaSach], [TenSach], [TacGia], [NamXuatBan], [NhaXuatBan], [TriGia], [NgayNhap]) VALUES (2, N'KỸ THUẬT LẬP TRÌNH', N'TRẦN MINH THÁI', 2005, N'NXB GIÁO DỤC', 50000, CAST(N'2006-02-12T00:00:00.000' AS DateTime))
INSERT [dbo].[SACH] ([MaSach], [TenSach], [TacGia], [NamXuatBan], [NhaXuatBan], [TriGia], [NgayNhap]) VALUES (3, N'CÔNG NGHỆ WEB', N'PHẠM ĐÀO MINH VŨ', 2009, N'NXB TRẺ', 90000, CAST(N'2009-12-01T00:00:00.000' AS DateTime))
SET IDENTITY_INSERT [dbo].[SACH] OFF
ALTER TABLE [dbo].[CHITIETPHIEUMUON]  WITH CHECK ADD  CONSTRAINT [FK_CHITIETPHIEUMUON_PHIEUMUONSACH] FOREIGN KEY([MaPhieuMuon])
REFERENCES [dbo].[PHIEUMUONSACH] ([MaPhieuMuon])
GO
ALTER TABLE [dbo].[CHITIETPHIEUMUON] CHECK CONSTRAINT [FK_CHITIETPHIEUMUON_PHIEUMUONSACH]
GO
ALTER TABLE [dbo].[CHITIETPHIEUMUON]  WITH CHECK ADD  CONSTRAINT [FK_CHITIETPHIEUMUON_SACH] FOREIGN KEY([MaSach])
REFERENCES [dbo].[SACH] ([MaSach])
ON UPDATE CASCADE
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[CHITIETPHIEUMUON] CHECK CONSTRAINT [FK_CHITIETPHIEUMUON_SACH]
GO
ALTER TABLE [dbo].[NHANVIEN]  WITH NOCHECK ADD  CONSTRAINT [FK_NHANVIEN_BANGCAP] FOREIGN KEY([MaBangCap])
REFERENCES [dbo].[BANGCAP] ([MaBangCap])
ON UPDATE CASCADE
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[NHANVIEN] CHECK CONSTRAINT [FK_NHANVIEN_BANGCAP]
GO
ALTER TABLE [dbo].[PHIEUMUONSACH]  WITH CHECK ADD  CONSTRAINT [FK_PHIEUMUONSACH_DOCGIA] FOREIGN KEY([MaDocGia])
REFERENCES [dbo].[DOCGIA] ([MaDocGia])
ON UPDATE CASCADE
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[PHIEUMUONSACH] CHECK CONSTRAINT [FK_PHIEUMUONSACH_DOCGIA]
GO
ALTER TABLE [dbo].[PHIEUTHUTIEN]  WITH CHECK ADD  CONSTRAINT [FK_PHIEUTHUTIEN_DOCGIA] FOREIGN KEY([MaDocGia])
REFERENCES [dbo].[DOCGIA] ([MaDocGia])
GO
ALTER TABLE [dbo].[PHIEUTHUTIEN] CHECK CONSTRAINT [FK_PHIEUTHUTIEN_DOCGIA]
GO
ALTER TABLE [dbo].[PHIEUTHUTIEN]  WITH CHECK ADD  CONSTRAINT [FK_PHIEUTHUTIEN_NHANVIEN] FOREIGN KEY([MaNhanVien])
REFERENCES [dbo].[NHANVIEN] ([MaNhanVien])
ON UPDATE CASCADE
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[PHIEUTHUTIEN] CHECK CONSTRAINT [FK_PHIEUTHUTIEN_NHANVIEN]
GO
